<!DOCTYPE html>
<html>
    <head>
        <title> Genesis Valdez:Math in Computer Science</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    </head>
   <body>
       <header>
           <h1>Math in Computer Science</h1>
       </header>
       <nav>
           <hr width="50%"/>
           <div class="navigation">
               <a href=""><button>Home</button></a>
               <a href="/binary"><button>Binary</button></a>
               <a href="/math"><button>Math</button></a>
               <a href="/linarAlgebra"><button>Linear Algebra</button></a>
           </div>
       </nav>