<% include partials/header.ejs %>
       
      <main>
           <figure id="title">
               <img src="https://www.wits.ac.za/media/wits-university/faculties-and-schools/science/computer-science-and-applied-mathematics/images/computer%20science%20and%20applied%20mathematics.png"/>
           </figure>
           
           <div id="Text">
               <strong>Overview</strong>
               <br>
               <p>
                    It is important to note that computers started to operate after advances in mathematics and logics.  Now we seem to use computer 
                    programing in almost every aspect of our lives. 
                    Usully when Computer Programming is mention we immediently think building applications, but if we actually think about it cars, cell phones, 
                    video games, and other apps use programing so that we the consumer can use.These computer applications are available for education, 
                    entertainemnet, or for work purposes; yet, they all use diffrent types of mathematics. After all the mathematical foundation of computers 
                    is logic.
                </p>
                <p>
                    We will go over three types of math that is used in Computer programming: Binary Math, Algebra/Statistics/Calculus 1 and 2, lastly 
                    Linear Algebra. 
                </p>
                <br /><br />
           </div>
       </main>
       
       <footer>
           </br>
           <a href="https://www.techwalla.com/articles/what-types-of-math-do-computer-programmers-use">Overview</a>
           <a href="https://ethw.org/Binary_Numbers_and_Binary_Math"> Binary</a>
           <a href="https://politicaleconomyzone.wordpress.com/2017/02/10/the-relationship-between-computer-science-and-mathematics/">Math</a>
           <a href="https://medium.com/@jeremyjkun/here-s-just-a-fraction-of-what-you-can-do-with-linear-algebra-633383d4153f">Linear Algebra</a>
           CST336 Internet Programming.2019
       </footer>
   </body>     
</html>