<%include partials/header.ejs %>
        <div>
            <table>
                <tr>
                    <td>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqrq4TdPSVUVn8gG8Q-8L8ZSX5V5-ONVbUp6QIhCGOLBTtxEzGSA">
                        <br /> <br />
                        <img id="binarypic" src="https://sites.google.com/site/syhsmata/_/rsrc/1472762235085/creative-projects/binary-numbers/Binary.png">
                    </td>
                    <td id="text">
                        <p></p>
                        Binary numbers are important because using them instead of the decimal system, helps 
                        simplifing the design of computers and other techologies.
                    <p>
                        In order to translate between decimal numbers and binary numbers we will look at the top table. 
                        We can see that 0 and 1 are the same in either stystem, starting at 2 things start to change. 
                        The decimal 2 looks like a 10 in binary, but we start from the right and number each space by 
                        powers of 2, so the first position is at 2<sup>0</sup>, second position is at 2<sup>1</sup>,
                        3rd position is at 2<sup>2</sup>,etc.
                        Note that it stops depending on how many spaces you have open. 
                        In this case we have 4 open spots, yet we only calculate the space where we would get a result of 2
                        and that is the second spot as shown in the graph. 
                    </p>
                </td>
                </tr>
            </table>
        </div>
        
        <footer>
                       <a href="https://www.techwalla.com/articles/what-types-of-math-do-computer-programmers-use">Overview</a>
           <a href="https://ethw.org/Binary_Numbers_and_Binary_Math"> Binary</a>
           <a href="https://politicaleconomyzone.wordpress.com/2017/02/10/the-relationship-between-computer-science-and-mathematics/">Math</a>
           <a href="https://medium.com/@jeremyjkun/here-s-just-a-fraction-of-what-you-can-do-with-linear-algebra-633383d4153f">Linear Algebra</a>
            CST336 Internet Programming.2019
        </footer>
    </body>
</html>