<%include partials/header.ejs %>
        
        <br /> <br />
        <div class="container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb9fsE4LoF1QfdNUf2KHi8gIGAfd2HWpGtbY0YhmikjgIdI_0T">
             <br /> <br />
            <div class="centered">
               In order to be sucessful there must be a basic understanding of math which include algebra, statictics, and calculus.
               These classes are applied two diffrent ways for computer programming, the most obvious is using math to solve complex equations.
               The least obvious is more of a skill learned to master advanced math which is similar to the skills required to build 
               a complex application. That skill is logic and following a complicated step by step process.
            </div>
        </div>
        <footer>
                       <a href="https://www.techwalla.com/articles/what-types-of-math-do-computer-programmers-use">Overview</a>
           <a href="https://ethw.org/Binary_Numbers_and_Binary_Math"> Binary</a>
           <a href="https://politicaleconomyzone.wordpress.com/2017/02/10/the-relationship-between-computer-science-and-mathematics/">Math</a>
           <a href="https://medium.com/@jeremyjkun/here-s-just-a-fraction-of-what-you-can-do-with-linear-algebra-633383d4153f">Linear Algebra</a>
            CST336 Internet Programming.2019
        </footer>
    </body>
</html>